# 默认配置继承链
defaults:
  - train
  # 使用纯净数据配置
  - override data: imageCAS
  - _self_

# 实验参数
num_shots: 3
lr: 0.00001
# 根据你的显卡调整
devices: [0,1,2,3]
run_name: skeleton_loss # 更新实验名称

data_name: imageCAS
loss_name: skel_loss # 更新 Loss 名称以便记录

# 路径配置
path_to_chkpt: /home/yangrui/Project/Base-model/local_results/checkpoints/base.pt
chkpt_folder: /home/yangrui/Project/Base-model/local_results/checkpoints

dataloader:
  shuffle: False

trainer:
  lightning_trainer:
    val_check_interval: 200
    max_steps: 10000
    max_epochs: 10

  # Lightning 模块配置
  lightning_module:
    # 【核心修改】指向新的 skeleton_module
    _target_: utils.other_loss.skeleton_module.PLModuleSkeleton
    _partial_: True
    prediction_threshold: 0.62
    batch_size: ${batch_size}
    input_size: ${input_size}

    scheduler_configs:
      cosine_annealing_few:
        interval: step
        frequency: 10
        scheduler:
          _target_: torch.optim.lr_scheduler.CosineAnnealingLR
          _partial_: True
          T_max: 1000
          eta_min: 0.0000001
          last_epoch: -1
      linear_warmup: null
      cosine_annealing: null